<html>
<head>
	<title></title>
</head>
<body>
	
<style type="text/css"> 
a {color:#7F7454} 
a:hover {color: #332D20} 
a:link   
{   
 text-decoration:none;   
}   
</style>
	
<table>
<tr>
<td>
<img src="../../static/img/signature.png" width="180" height="135"> 
</td>
<td style="vertical-align:middle;">
<font color="#332D20" size="2" face="Open Sans, Arial, MS Sans Serif"><b>Renato Lerner</b><br></font>
<font color="#333333" size="1" face="Open Sans, Arial, MS Sans Serif">Partner<br></font>
<br>
<font color="#333333" size="1" face="Open Sans, Arial, MS Sans Serif">INVISION Real Estate Investments, LLC<br>
4000 Hollywood Blvd. #555 S, Hollywood, FL, USA, 33021<br>
T +1 954 843 3501 | M +1 954 909 8020<br>
<a href="mailto:rl@invisionrealestateinvestments.com" target="_blank">rl@invisionrealestateinvestments.com</a><br><br>
<font color="#000000" size="2"> <a href="http://invisionrealestateinvestments.com" target="_blank"><b>www.invisionrealestateinvestments.com</b></a></font>
</td>
</tr>
</table>
	<BR><BR><BR><BR><BR><BR><BR>	
<style type="text/css"> 
a {color:#7F7454} 
a:hover {color: #332D20} 
a:link   
{   
 text-decoration:none;   
}   
</style> 
<table>
<tr>
<td>
<img src="../../static/img/signature.png" width="180" height="135"> 
</td>
<td style="vertical-align:middle;">
<font color="#332D20" size="2" face="Open Sans, Arial, MS Sans Serif"><b>Siulmary Ovalles</b><br></font>
<font color="#333333" size="1" face="Open Sans, Arial, MS Sans Serif">CEO<br></font>
<br>
<font color="#333333" size="1" face="Open Sans, Arial, MS Sans Serif">INVISION Real Estate Investments, LLC<br>
4000 Hollywood Blvd. #555 S, Hollywood, FL, USA, 33021<br>
T +1 954 843 3501 | M +1 954 998 9996<br>
<a href="mailto:se@invisionrealestateinvestments.com" target="_blank">se@invisionrealestateinvestments.com</a><br><br>
<font color="#000000" size="2"> <a href="http://invisionrealestateinvestments.com" target="_blank"><b>www.invisionrealestateinvestments.com</b></a></font>
</td>
</tr>
</table>


</body>
</html>